{%extends "base.html.twig"%}
{%block title%} Главная {%endblock%}
{%block document%} 
    <div class="main">
        <div class="logo">
            <div class="logo__image">
                <img alt="logo" src="./assets/image/logo.png">
            </div>
            <div class="logo__header">Tasks</div>
        </div>
        <div class="main-info">
            <div class="main-info__content">
                <div class="main-info__text">
                    <div class="main-info__header header">Создавай,<br>распределяй, выполняй...</div>
                    <div class="main-info__paragraph">Не успеваете с проектом? В блокноте закончилось место?<br>
                    С этим сервисом Вы убедитесь, что планирование это просто. <br> Начните прямо сейчас.</div>
                </div>
                <div class="main-info__nav">
                    <a href="login.php?page=signin"><div class="main-info__link link main-info__link_signin">Войти</div></a>
                    <a href="login.php?page=register"><div class="main-info__link link main-info__link_register">Регистрация</div></a>
                </div>
            </div>
            <div class="main-info__gallery gallery">
                <div class="gallery__big-image">
                    <img src="./assets/image/gallery/1.png">
                </div>
                <div class="gallery__small-images">
                    <img src="./assets/image/gallery/1.png">
                    <img src="./assets/image/gallery/2.png">
                    <img src="./assets/image/gallery/3.png">
                    <img src="./assets/image/gallery/4.png">
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="arrow">
            <div class="arrow__image">
                <img src="./assets/image/arrow.png">
            </div>
        </div>
        <div class="about__info">
            <div class="about__card">
                <div class="about__image">
                    <img src="./assets/image/about/create.png">
                </div>
                <div class="about__title">Создавай</div>
                <div class="about__text">Создавайте области для команды или себя. Добавляйте в них задачи.</div>
            </div>
            <div class="about__card">
                <div class="about__image">
                    <img src="./assets/image/about/add.png">
                </div>
                <div class="about__title">Распределяй</div>
                <div class="about__text">Добавляйте в команду пользователей и привязывайте к ним задачи.</div>
            </div>
            <div class="about__card">
                <div class="about__image">
                    <img src="./assets/image/about/survey.png">
                </div>
                <div class="about__title">Выполняй</div>
                <div class="about__text">Наблюдай за прогрессом, просто отмечая, что задача выполнена.</div>
            </div>
        </div>
    </div>
 {%endblock%}
 {%block script%}
    <script src="./assets/js/gallery.js"></script>
 {%endblock%}