{%extends "base.html.twig"%}
{%block title%} {{ login }} {%endblock%}
{%block top%}
<div class="top">
    <a href="index.php">
        <div class="logo">
            <div class="logo__image">
                <img alt="logo" src="./assets/image/logo.png">
            </div>
            <div class="logo__header">Tasks</div>
        </div>
    </a>
    <div class="back-list">
        <a href="profile.php">К списку областей</a>
    </div>
    <div class="info">
        <a href="index.php"> Выйти </a>
    </div>
</div>
{%endblock%}
{%block document%}
    <div class="info-user">
        <h3>Данные о пользователе</h3>
        <div class="info-user__login">Логин: {{ login }} </div>
        <div class="info-user__fullname">Имя и фамилия: {{ fullname }} </div>
    </div>
{%endblock%}